html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.page-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 20px;
}

.padding-bar {
  padding: 10px 15px;
  box-sizing: border-box;
}