.layout-wrap {
  width: 100%;
  height: 100%;
  background-color: $layoutColor;

  .aside-wrap {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    user-select: none;
    background-color: $asideColor;
    transition: width .2s;
  }

  .layout-main {
    position: relative;
    margin-left: 200px;
    width: calc(100% - 200px);
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: $mainColor;
    transition: all .2s;
    .top-bar {
      position: fixed;
      top: 0;
      z-index: 999;
      width: calc(100% - 200px);
      height: 50px;
      box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .2);
      background-color: $topBarColor;
      transition: width .2s;
    }
    .bread-crumb {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 15px;
      transition: width .2s;
      background-color: $mainColor;
    }
  }
}

.layout-wrap.close {
  .aside-wrap {
    width: 64px;
  }
  .layout-main {
    width: calc(100% - 64px);
    margin-left: 64px;
  }
  .top-bar{
    width: calc(100% - 64px);
  }
}

// 菜单组件
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}